# Ignore practice exam PDF
# practiceExam.pdf
# If this repo is made public again, make sure to add this ignore back


# Common files to ignore
*.pdf
*.class
*.o
*.exe
*.log
.DS_Store

# IDE specific files
.vscode/
.idea/
*.swp
*~ 